/* set table structure */
table, th, td {
  border: 2px solid #666666;
  border-collapse: collapse;
  padding: 15px;
}

/* style text in table headers */
th {
  font-size: 20px;
  text-align: center;
  background-color: #1f1e1e;
}

/* alternate table colors */
tr:nth-child(odd) {
  background-color: #1d2a35;
}
tr:nth-child(even) {
  background-color: #1f1e1e;
}

/*
style table cells
hide excess text
*/
td {
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  max-width: 12.5vw;
}

/* show excess text on focus */
td:focus {
  overflow: visible;
  white-space: normal;
  word-break: break-all;
}